h2 {
    color: green;
    font-style: italic;
}

li {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.addPersonForm {
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}

.successStyle {
    color: #0bb873;
    background: #c3f9ea93;
}

.errorStyle {
    color: #b80b4b;
    background: #d6266493;
}

.notification {
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}